name: weekly-update

on:
  schedule:
    # run every Monday at 11:00 UTC
    - cron: '0 11 * * 1'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Update formula
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com
        bin/patchtool.sh --fetch-upstream
        bin/patchtool.sh --update-description
        bin/patchtool.sh --remove-bottle
        bin/patchtool.sh --apply-patch
        bin/patchtool.sh --git-commit-formula
        git push
